.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
}

.image {
  padding: 18px;
  margin-top: 20px;
  margin-left: 50px;
  height: 620px;
}

img {
  border-radius: 200px;
}

.form {
  justify-content: center;
  align-items: center;
  padding: 18px;
  margin-left: auto;
  margin-top: 20px;
  margin-right: 190px;
}

form {
  margin: auto;
  padding: 30px;
  box-shadow: 10px 20px #000;
  border-radius: 10px;
  border: none;
  background-color: rgb(35, 35, 35);
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.typography {
  text-align: center;
  padding: 16px;
  font-weight: 600;
}

.submit-button {
  padding-left: 8px !important;
  padding-right: 8px !important;
  padding-top: 8px !important;
  padding-bottom: 4px !important;
  width: 400px !important;
  border-radius: 8px !important;
  background-color: white !important;
  color: black !important;
}

.submit-button:hover {
  background-color: beige !important;
  color: black !important;
}

.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: rgb(131, 131, 131) !important;
}
